.loader-bg{
    width: 100%;
    height: 100vh;
    position: absolute;
    z-index: -5;
    background-color: white;
    animation: loader-bg 3s;
    display: flex;
    justify-content: center;
    align-items: center;
    opacity: 0;
}

.loader-animation{
    position: relative;
}

.utensils--loader{
    color: $color-secondary;
    font-size: 50px;
    position: absolute;
    bottom: -20px;
    left: 5px;
}

.fa-fish--loader{
    @include btn-favorite-gradient;
    font-size: 50px;
    height: 100px;
    transform-origin: bottom;
    animation: loader-animation 1.7s .5s cubic-bezier(0,0,0,0) infinite;
}