$color-primary: #9356DC;
$color-secondary: #FF79DA;
$color-tertiary: #99E2D0;

$shadow-color: rgb(182, 182, 182);

$bkg-secondary: rgb(245, 245, 245);
$bkg-footer: rgb(73, 73, 73);

$font-dark: #575757;

$title-font: 'Shrikhand', cursive;
